

a {
  color: white;
}
header {
  background-color: #DA1E37;
  color: rgb(255, 255, 255);
  margin: auto;
  height: 75px;
  width: 100%;
  text-align: center;
  line-height: 75px;
  margin: 0;
  font-size: 25px;
  font-family: serif;
  border-style: solid solid none solid;
  border-color: black;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid black;
  height: 55px;
  width: 100%;
  align-items: center;
  background-color: #DA1E37;
  color: white;
  font-size: 17.5px;
  font-family: serif;
}

.Main {
  width: 80%;
  margin:auto;
  padding: 15px;
}

.Main p {
  text-align: center;
  padding: 12.5px;
  width: 50%;
  border-radius: 5px;
  border-style: solid solid none solid;
  border-color: black;
  margin: auto;
  background-color: #da1e37;
  color: white;
}

.Main img {
  width: 100%;
  border: solid black;
  border-radius: 5px;
}

img {
  border: solid black;
}

.ljusblott {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 30px;
  background-color: #EDF2FB;
}

.ljusblott p {
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 35%;
}

.ljusblott img {
  width: 25%;
}

.vitt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:auto;
  padding: 30px;
  background-color: white;
}

.vitt p {
  background-color: #EDF2FB;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 35%;
}

.vitt img {
  width: 25%;
}