* {
    margin: 0px;
    padding: 0px;
  }
  
  header {
    background-color: #DA1E37;
    color: rgb(255, 255, 255);
    margin: auto;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin: 0;
    font-size: 25px;
  }
  
  label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black;
    height: 40px;
    align-items: center;
    background-color: #DA1E37;
    color: white;
  }